- 
  var lang =  args.language ? args.language : "Unknown";
  var lang_lower = lang.toLowerCase();
  const lines = args.code.split('\n').length;
  const size = utils.humanByteSize(args.code.length, false, 2);

figure(data-language=lang_lower)
  figcaption
    span.code-language= lang
    span.code-stats #{lines} lines - #{size}

  pre
    code(class=`code-language-${lang_lower}`)= args.code
